/*header img*/
.container{
    position: relative;
}
.container img{
    background-color: #007fff;
    width: 100%;
    height: 200px;
    
}
/*add image logo*/
.logo{
    position:absolute;
    top:120px;
    margin-top:0 ;
}
.logo img{
    background-color: transparent;
    width: 200px;
    height: 100px;
}
/*I added the colored writing on the same line*/
strong{
    color:#007fff;
    
}
.img_elon{
    display: inline-block;
    
    clear: both;
}
.img_elon img {
    width: 500px;
    height: 500px;
    margin:0 50px ;
}
/*Highlight the part enclosed in the span tag*/
span{
    background-color: yellow;
}

.container_2{
    position: relative;
    width: 100%;
    height: 500px;
    text-align: left;
    color: white;
}

.text{
    font-size: xx-large;
    position: absolute;
    top: 8px;
    left: 16px;
}

img{
    width: 700px;
    height: auto;
}

.row{
    position: absolute ;
    top :10px;
    margin-top: 400px;
    text-align: left;
    color: white;

}