/*header img*/
.container img{

    background-color: #007fff;
    width: 100%;
    height: 200px;
    z-index: 1;
}
.logo img{
    z-index: 2;
}

strong{
    color:#007fff;
    
}
.class_main img{
    height: 45%;
    width: 45%;
    
}

